body
{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.travelCard
{
    max-width: 700px;
    height: 30%;
    display: flex;
    margin: 20px 0;
}

.travelCard > img
{
    height: 100%;
    width: 25%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

section
{
    width: 70%;
}

section h3,
section h4
{
    margin: 0;
}